@font-face{
    font-family: Raleway ;
    src: url(../fonts/raleway/Raleway-Bold.ttf) ;
}
@font-face{
    font-family: OpenSans;
    src: url(../fonts/opensans/OpenSans-Regular.ttf);
}

*{
    color:hsl(243, 87%, 12%) ;
}
h1{
    font-family: Raleway ;
}
body{
    font-family: OpenSans ;
}
.btn{
    font-family: Raleway;
}
ul{
    list-style-type:none;
}
#header li{
    display:inline-block;
    margin: 7px;
}
#header{
    text-align: right ;
}
.navbar{
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type=email]{
    padding: 10px;
    border-color:hsl(238, 22%, 44%) ;
    border-width: 0.7px;
    border-radius: 3px;
    width: 100% ;
    box-sizing: border-box;
    height: 40px;
    font-size: 14px;
}
.btn{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color:hsl(224, 93%, 58%) ;
    color: white;
    border-color: transparent;
    box-sizing: border-box ;
    height: 40px;
    font-size: 14px;
}
.form-group{
    margin-top: 30px;
}
.form-group div{
    margin-top: 15px;
}
.header{
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 100px;
}
.title-text{
    text-align: center ;
}
.title-text-header{
    margin-top: 30px;
}

.body{
    padding-top: ;
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
}
.body div{
    margin-top:100px;
    background-color:  hsl(240, 75%, 98%);
}

@media only screen and (min-width: 765px){
    .title-text{
        text-align: left ;
    }
}
.img-responsive{
    max-width: 100%;
    height: auto;
}

    /* hsl(238, 22%, 44%) */
    /* hsl(224, 93%, 58%) */
    /* hsl(170, 45%, 43%) */
    /* hsl(240, 75%, 98%) */
    /* hsl(0, 0%, 75%) */

